.advantages {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  @media (min-width: $desktop-width) {
    padding: 69px 0;
    border: none;
  }
}

.advantages__wrapper {
  width: calc(100% - 30px);
  margin: 0 auto;

  @media (min-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 66%;
    margin: 0 auto;
    align-items: flex-start;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -10%;
      width: 244px;
      height: 165px;
      background-image: url("../img/icon-adv.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 180px);
    max-width: 1350px;

    &::after {
      width: 330px;
      height: 195px;
      right: 0;
    }
  }
}

.advantages__text-dt {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.advantages__text-main {
  margin: 15px 0;
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-right: 33px;
    font-size: 104px;
    line-height: 104px;
  }
}

.advantages__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: $text-light;

  @media (min-width: $desktop-width) {
    width: 30%;
    padding: 15px;
    font-size: 20px;
    line-height: 24px;
  }
}

.advantages__period {
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 15px;
  }
}

.advantages__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & p {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 6px;
      width: 12px;
      height: 12px;
      background-image: url("../img/icon-quest.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      width: 23%;

      &::after {
        right: 20px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 53%;
    justify-content: space-between;
  }
}

.advantages__sum {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 53px;
  }
}

.advantages__paid {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;

  @media (min-width: $desktop-width) {
    max-width: 108px;
    padding-top: 10px;
    font-size: 15px;
    line-height: 15px;
  }
}
