.detals-deal {
  & p {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: $tablet-width) {
      min-height: auto;
    }

    @media (min-width: $desktop-width) {
      align-items: flex-start;
    }
  }
}

.detals-deal__income {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.detals-deal__contribution {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.detals-deal__title {
  font-family: "Gotham Pro Bl", "Arial", sans-serif;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.detals-deal__sub-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.detals-deal__percent,
.detals-deal__text {
    font-size: 24px;
    font-weight: 900;
    line-height: 31px;

  @media (min-width: $desktop-width) {
    font-size: 33px;
    line-height: 41px;
  }
}

.detals-deal__text {
  margin-top: 13px;
}
