.detals-control {
}
.detals-control__income {

  width: 35%;
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-width-max) {
    width: 50%;
    align-items: center;
  }
}
.detals-control__percent {
}
.detals-control__contribution {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $mobile-width-max) {
    width: 50%;
  }
}
.detals-control__text {
  min-height: 50px;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    line-height: 20px;
  }

  &--mb {
    display: flex;
    align-items: center;
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--dt {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
.detals-control__percent {
  font-size: 27px;
  font-weight: 900;
  line-height: 33px;
}

.detals-control__sub-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
