.footer {
  width: calc(100% - 32px);
  padding: 62px 0 74px;
}

.footer__top {
  display: flex;
  flex-direction: column;

  & section {
    margin-bottom: 45px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 33% 40% 25%;
    column-gap: 15px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;

  & p {
    font-weight: 400;
    line-height: 19px;

    @media (min-width: $desktop-width) {
      font-size: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.footer__contacts-phone {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.08em;

  @media (min-width: $desktop-width) {
    font-size: 27px;
    line-height: 27px;
  }
}

.footer__contacts-mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.08em;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  & a {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: $text-light1;

    @media (min-width: $desktop-width) {
      font-size: 15px;
      line-height: 22px;
    }
  }

  & li {
    margin-bottom: 15px;
  }

  @media (min-width: $mobile-width-max) {
    justify-content: space-evenly;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.footer__block-borrowers {
  width: 40%;
}

.footer__block-business {
  width: 40%;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 41px;
  row-gap: 15px;

  & a {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;


    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  @media (min-width: $mobile-width-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 83%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;

  & p {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    color: $text-light1;
    margin-top: 42px;

    @media (min-width: $mobile-width-max){
      width: 80%;
      margin: 42px auto 0;
    }

    @media (min-width: $desktop-width) {
      width: 46%;
      margin-left: 0;
      font-size: 15px;
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__form {
  order: -1;

  & fieldset {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    border: none;
  }

  @media (min-width: $mobile-width-max) {
    width: 62%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 30%;
    margin-right: 0;
    order: 1;
  }
}

.footer__row {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 63%;
  }
}

.footer__row input {
  width: 100%;
  padding: 10px 30px 11px;
  font: inherit;
  color: $white;
  border: none;
  border-radius: 40px;
  background-color: $bg-wrap;
  outline: none;

  &::placeholder {
    color: $btn-transparrent;
  }
}

.footer__button {
  width: 67%;
  padding: 11px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.045em;
  text-align: center;
  border-radius: 33px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 22px;
    right: 0;
    width: 44%;
    padding: 14px 8px 17px;
  }
}
