.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 1350px;
  }
}
.header__logo {
  width: 28px;
  height: 41px;

  @media (min-width: $tablet-width) {
    width: 164px;
    height: 62px;
    margin-right: 20px;
  }
}
.header__logo-dt {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
  }
}
.header__logo-mb {
  @media(min-width: $tablet-width) {
    display: none;
  }
}
.header__right {
  @media(min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.header__nav {
  display: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 14.93px;
  text-transform: uppercase;

  @media(min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 83%;
  }
}
.header__item {
  margin-right: 37px;
}
.header__btn {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 17%;
    height: 49px;
    padding: 18px 25px;
    letter-spacing: 0.08em;
    text-align: center;
    color: $accent;
  }
}
.header__btn-mb {
  display: block;
  width: 33px;
  height: 11px;
  background-image: url("../img/icon-btn-mb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

