.main {

}

.main__promo {

}

.main__advantages {
  margin-bottom: 30px;
}

.main__options {

}
.main__calculator {
  background-color: $bg-wrap;
}

.main__steps {

}

.main__review {
  background-color: $bg-wrap;
}
