.options {
  width: calc(100% - 30px);
  margin: 0 auto 37px;

  & h2 {
    @include title;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 190px);
    max-width: 1350px;
  }
}
.options__wrapper {
  position: relative;
  min-height: 285px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.options__container {
  display: none;
  padding-bottom: 1px;

  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
  border-radius: 0 20px 20px 20px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 48%;
    background: none;
    background-color: $bg-wrap;
    border-radius: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
  }

  & h3 {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      font-size: 16px;
      line-height: 27px;
    }

    @media (min-width: $desktop-width) {
      font-size: 27px;
      text-align: center;
    }
  }

  & h4 {
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    color: $text-lighter;

    @media (min-width: $mobile-width-max) {
      font-size: 15px;
      line-height: 14px;
      text-align: center;
    }
    @media (min-width: $desktop-width) {
      text-align: left;
      max-width: 364px;
      margin-bottom: 0;
    }
  }

  &--active {
    display: block;
    background-color: $bg-wrap;

  }
}

.options__chapter {
  margin: 0 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 32px;
  }
}
.options__detals {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding: 0 27px 60px 17px;
  background: $black;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 5px 50px;

    &--deal {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
  @media (min-width: $desktop-width) {
    border-radius: 18px;
    padding-bottom:60px;

    &--deal {
      padding: 0 30px 30px;
      justify-content: space-between;
    }
  }

}
.options__list {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    background-color: $black;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}
.options__item {
  display: none;
  padding: 13px 19px;
  font-weight: 400;
  line-height: 12px;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);

  @media (min-width: $tablet-width) {
    display: block;
    padding: 13px 4px;
    font-size: 12px;
    line-height: 15px;
    background: none;
    background-color: $black;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }

  &--active {
    position: relative;
    display: block;
    color: $accent;
    border: 1.5px solid $accent;
    border-radius: 41px;
    background-color: $bg-wrap;

    &::after {
      content: "";
      position: absolute;
      right: 19px;
      top: 16px;
      width: 11px;
      height: 9px;
      background-image: url("../img/icon-arrow-bottom.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }

    @media (min-width: $tablet-width) {
      background-color: $black;
    }
  }
}
.options__description {
  width: 97%;
  font-weight: 400;
  line-height: 19px;

  @media (min-width: $mobile-width-max) {
    font-size: 17px;
    line-height: 25px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 387px;
    text-align: left;
  }
}

.options__signature {
  position: absolute;
  bottom: 12%;
  left: 20px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  padding: 7px 17px;
  font-weight: 400;
  line-height: 16px;
  background-color: $bg-wrap;
  border-radius: 11px;
  color: $text-lighter;

  @media (min-width: $tablet-width) {
    width: 96%;
    padding: 7px 10px;
    left: 9px;
    bottom: 15%;
    font-size: 11px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 18px;
  }
}

.options__title-dt {
  display: none;
}

.options__title-mb {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.options__controls {
  display: flex;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
.options__control {
  width: 50%;
  box-sizing: border-box;
  padding: 9px 16px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  z-index: 1;
  color: white;
  background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
  border-radius: 12px 12px 0 0;

  &--active {
    background-color: $bg-wrap;
    border-radius: 20px 20px 0 0;
  }
}

.options__btn {
  position: relative;
  display: block;
  width: calc(100% - 80px);
  margin: 15px auto;
  box-sizing: border-box;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 15px;
    height: 12px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    align-self: flex-start;
    margin: 15px 0;
  }
}
