.page {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $font-family;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0em;
  word-wrap: normal;
  color: $white;
  background-color: $black;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.page__header {
  width: calc(100% - 30px);
  margin: 0 auto;
}

// .page__main {
//   width: calc(100% - 30px);
//   margin: 0 auto;
// }

.page__footer {
  width: calc(100% - 30px);
  margin: 0 auto;
}
