.radio {
  @media (min-width: $mobile-width-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.radio__wrapper {
  & p {
    font-weight: 400;
    line-height: 16px;
    color: $text-lighter;

    @media (min-width: $mobile-width-max) {
      text-align: center;
    }

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  @media (min-width: $mobile-width-max) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.radio__list {
  display: flex;
  background-color: $black;
  border-radius: 21px;
}

.radio__list-item {
  width: 50%;
  padding: 13px 5px;
  text-align: center;
  color: $btn-gray;
  cursor: pointer;

  &--active {
    color: $btn-light;
    background-color: $white;
    border-radius: 21px;
  }
}

.radio__meaning {
  font-weight: 500;
  line-height: 12px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 15px;
  }
}
