.review {
  padding: 39px 0 53px;

  & h2 {
    @include title;
    margin-bottom: 30px;
  }
}

.review__content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.review__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.review__btn-mb {
  position: absolute;
  right: 0;
  top: 0;
  width: 11%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile-width-max) {
    height: 60%;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.review__btn-icon {
  width: 15px;
  height: 11px;
  background-image: url("../img/icon-arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  transform: rotate(-90deg);
}

.review__more {
  width: 57%;
  margin: 0 auto;
  padding: 15px;
}

.review__wrapper {
  position: relative;
  display: none;
  width: 85%;
  background-color: $bg-img;
  border-radius: 10px;

  @media (min-width: $mobile-width-max) {
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 18px;
  }

  & img {
    border-radius: 16px;
    width: 100%;

    @media (min-width: $mobile-width-max) {
      border-radius: 30px;
    }

    @media (min-width: $desktop-width) {
      border-radius: 18px;
    }
  }
  &--current {
    display: flex;
    flex-direction: column;
  }

  & button {
    position: absolute;
    top: 34%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-promo-play.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    transform: translateX(-50%);

    @media (min-width: $mobile-width-max) {
      width: 27px;
      height: 27px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 28%;
    left: 50%;
    width: 36px;
    height: 36px;
    background-color: #FFFFFF;
    opacity: 0.25;
    transform: translateX(-50%);
    border-radius: 100%;

    @media (min-width: $mobile-width-max) {
      top: 26%;
      width: 61px;
      height: 59px;
    }
  }
}

.review__time {
  position: absolute;
  bottom: 30%;
  left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 66px;
  height: 15px;
  padding-left: 3px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.25px;
  background: $bg-wrap;
  border-radius: 3px;
  backdrop-filter: blur(7.2px);

  @media (min-width: $mobile-width-max) {
    width: 86px;
    height: 32px;
    bottom: 18%;
    padding-left: 7px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

}
.review__title {
  padding: 8px 9px 12px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;

  @media (min-width: $mobile-width-max) {
    font-size: 20px;
    line-height: 20px;
  }
}

.review__guarantees {
  padding: 18px 18px 30px 17px;
  margin-top: 38px;
  border: 1px solid $border;
  border-radius: 18px;

  & h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;

    @media (min-width: $desktop-width) {
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  & p {
    margin-bottom: 25px;
    line-height: 19px;
    color: $text-light1;
  }
}

.review__consult-btn {
  width: 77%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
