.steps {
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 44px 0 46px;

  & h2 {
    @include title;
    margin: 0 0 30px;
  }
}
.steps__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  counter-reset: myCounter;

  @media (min-width: $mobile-width-max) {
    width: 55%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin-bottom: 77px;
  }

  & li {
    position: relative;
    min-height: 61px;
    width: 90%;
    padding-left: 90px;
    margin-bottom: 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: flex-end;
      max-width: 142px;
      margin-bottom: 0;
      padding-left: 0;
      min-height: 200px;
      font-size: 15px;
      line-height: 22px;
    }

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 60px;
      height: 61px;
      margin-bottom: 15px;
      font-size: 27px;
      font-weight: 300;
      line-height: 27px;
      color: $accent;
      counter-increment: myCounter;
      z-index: 1;

      @media (min-width: $tablet-width) {
        top: 25%;
        left: 44%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left: 0;
      width: 13px;
      height: 22px;
      background-image: url("../img/icon-bottom.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;

      @media (min-width: $tablet-width) {
        bottom: 39%;
        left: 63px;
      }
    }

    &:last-of-type::after {
      content: none;

      @media (min-width: $tablet-width) {
        content: "";
      }
    }
  }

  & span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      left: -112px;
      width: 60px;
      height: 61px;
      background-color: $bg-wrap;
      border-radius: 100%;
    }

    @media (min-width: $tablet-width) {
      min-height: 66px;
      text-align: center;

      &::after {
        top: -102px;
        left: 40px;
      }
    }
  }
}
.steps__btn-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 80%;
  }
}
.steps__btn,
.steps__feadback {
  display: block;
  width: calc(100% - 96px);
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 40%;
  }
}

.steps__feadback {
  margin: 18px auto 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.steps__btn {
  position: relative;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 15px;
    height: 12px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

