@mixin ul-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;

  @media (min-width: $tablet-width) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
