@mixin ul-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;

  @media (min-width: $tablet-width) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin title-tablet {
  // font-family: $font-family;
  // font-size: 32px;
}

@mixin title-mobile {
  // font-family: $font-family;
  // font-size: 28px;
}

@mixin main_title-desktop {
  // margin: 0;
  // font-family: $font-family;
  // font-size: 80px;
  // line-height: normal;
  // font-weight: 700;
  // letter-spacing: 0.07em;
  // text-align: left;
  // color: $white;
  // text-transform: uppercase;
}
