$accent: #FF970A;
$btn-accent: #FF9A10;
$second-accent: #FF9618;
$bg-wrap: #181818;
$btn-light: #1B1B1B;
$btn-transparrent: #A1A1A1;
$border: #7C7571;
$black: #000000;
$white: #FFFFFF;

$font-family: "SF UI Display", "Arial", sans-serif;

// brackpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

