$accent: #FF970A;
$btn-accent: #FF9A10;
$second-accent: #FF9618;
$bg-wrap: #181818;
$btn-light: #1B1B1B;
$btn-transparrent: #A1A1A1;
$text-light: #A3A3A3;
$text-lighter: #A9A9A9;
$border: #7C7571;
$black: #000000;
$white: #FFFFFF;
$bg-img: #2B2B2B;

$font-family: "SF UI Display", "Arial", sans-serif;

// brackpoint
$mobile-width: 320px;
$mobile-width-max: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

